.auth-header {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.auth-header__greeting {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin-bottom: 40px;
}

@media screen and (max-width: 920px) {
  .auth-header {
    margin-top: 232px;
  }

  .auth-header__greeting {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .auth-header {
    align-items: center;
    width: 260px;
    margin-top: 56px;
  }

  .auth-header__greeting {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
