.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../images/praktikum-logo-320.svg);
  background-size: 320px contain;
  background-position: center 82px;
  background-repeat: no-repeat;
  background-color: var(--promo-background-color);
}

.promo__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 184px;
  margin-bottom: 224px;
  max-width: 730px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -2px;
}

.promo__navtab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  column-gap: 40px;
  background-color: var(--navtab-background-color);
  max-height: 68px;
  list-style: none;
  width: 100%;
}

.promo__navtab-link {
  color: var(--white-text-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  text-decoration: none;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 920px) {
  .promo {
    background-position: center 224px;
  }

  .promo__title {
    margin-top: 326px;
    margin-bottom: 342px;
  }

  .promo__navtab {
    padding-top: 24px;
    padding-bottom: 25px;
    column-gap: 40px;
    background-color: var(--navtab-background-color);
    width: 100%;
    max-height: 68px;
  }

  .promo__navtab-link {
    color: var(--white-text-color);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
}

@media screen and (max-width: 576px) {
  .promo {
    background-image: url(../../images/praktikum-logo-248.svg);
    background-size: 248px contain;
    background-position: center 142px;
  }

  .promo__title {
    margin-top: 207px;
    margin-bottom: 246px;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.258;
    max-width: 300px;
    letter-spacing: -1.2px;
  }

  .promo__navtab {
    padding-top: 25px;
    padding-bottom: 25px;
    column-gap: 24px;
  }

  .promo__navtab-link {
    font-size: 11px;
    line-height: 1.45;
  }
}
