.auth-submit {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 396px;
}

.auth-submit__button {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--auth-submit-text-color);
  background-color: var(--auth-submit-background-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  border-radius: 3px;
  width: 100%;
  height: 45px;
}

.auth-submit__button {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--auth-submit-text-color);
  background-color: var(--auth-submit-background-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  border-radius: 3px;
  width: 100%;
  height: 45px;
}

.auth-submit__button:disabled {
  background-color: #e8e8e8;
  pointer-events: none;
}

.auth-submit__subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--auth-submit-subtitle-color);
}

.auth-submit__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
  color: var(--auth-submit-link-color);
}

@media screen and (max-width: 576px) {
  .auth-submit {
    margin-top: 157px;
    width: 260px;
  }

  .auth-submit__button {
    margin-bottom: 14px;
    font-size: 12px;
  }

  .auth-submit__subtitle {
    font-size: 12px;
  }

  .auth-submit__link {
    font-size: 12px;
  }
}
