:root {
  --promo-background-color: #f3c1f8;
  --navtab-background-color: #000000;
  --techs-background-color: #f5f5f5;
  --signin-button-background-color: #000000;
  --white-background-color: #ffffff;
  --black-background-color: #000000;
  --timeline-back-background-color: #000000;
  --timeline-front-background-color: #f2f2f2;
  --timeline-back-text-color: #ffffff;
  --timeline-front-text-color: #000000;
  --timeline-caption-text-color: #a0a0a0;
  --techs-grid-item-background-color: #e8e8e8;
  --portfolio-title-text-color: #a0a0a0;
  --portfolio-list-item-border-color: #e6e6e6;
  --portfolio-link-color: #000000;
  --aboutme-link-color: #000000;
  --notfound-link-color: #000000;
  --auth-submit-link-color: #000000;
  --profile-exit-link-color: #ff4062;
  --auth-submit-text-color: #ffffff;
  --auth-submit-background-color: #000000;
  --auth-submit-subtitle-color: #a0a0a0;
  --form-label-text-color: #a0a0a0;
  --form-input-error-color: #ff4062;
  --form-input-background-color: #f9f9f9;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --movie-card-duration-text-color: #a0a0a0;
  --movie-card-duration-background-color: #f9f9f9;
  --movies-more-button-background-color: #F9F9F9;
  --navigation-link-text-color: #000000;
  --footer-description-text-color: #a0a0a0;
  --footer-description-border-color: #e8e8e8;
  --footer-link-text-color: #000000;
  --footer-mobile-year-text-color: #a0a0a0;
  --search-background-color:  #FDFDFD;
  --search-bottom-border-color: #E8E8E8;
  --search-right-border-color: #CBCBCB;
  --search-button-background-color: #000000;
  --search-button-text-color: #ffffff;
  --search-input-color: #A0A0A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: block;
  width: 38px;
  height: 38px;
}

.link-hover:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button-hover:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
}

.input-focus:focus {
  border-bottom: 1px solid  #E8E8E8;
}

.input-placeholder::placeholder {
  color: var(--search-input-color);
}