.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--techs-background-color);
}

.techs__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 100%;
  max-width: 1140px;
  height: 50px;
  vertical-align: text-top;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  border-bottom: 1px solid black;
  letter-spacing: -0.9px;
}

.techs__article-title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  margin-bottom: 26px;
  letter-spacing: -1.8px;
}

.techs__article-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 100px;
  letter-spacing: -0.8px;
}

.techs__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  width: 100%;
}

.techs__grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  background-color: var(--techs-grid-item-background-color);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

@media screen and (max-width: 920px) {
  .techs {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .techs__title {
    margin-bottom: 80px;
  }

  .techs__article-title {
    margin-bottom: 22px;
  }

  .techs__article-text {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 83px;
    letter-spacing: -0.5px;
  }

  .techs__grid-container {
    grid-template-columns: repeat(auto-fill, 90px);
  }

  .techs__grid-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .techs {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .techs__title {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .techs__article-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.21;
    margin-bottom: 24px;  
    letter-spacing: -1px;
  }

  .techs__article-text {
    font-size: 11px;
    line-height: 1.45;
    margin-bottom: 50px;
  }
}
